.meals {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: meals-apperance 1s ease-in-out forwards;
}

.meals ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.meals ul li img {
    width: 100%;
    height: auto;
}

.mealsLoading{
    text-align: center;
    font-size: 2rem;
}

.mealsError{
    text-align: center;
    color: red;
    font-size: 1.7rem;
}

@keyframes meals-apperance {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}