.form{
    text-align: center;
}

.form button{
    font: inherit;
    cursor: pointer;
    background-color: #107869;
    border: 1px solid #32CD30;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    font-weight: bold;
}

.form button:hover,
.form button:active {
    background-color: #1A5653;
}

@media (max-width:500px){
    .form{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* flex-direction: column; */
    }

    .form button{
        padding: 10px 15px;
    }
}
@media (max-width:500px){
    .form button{
        padding: 0;
        border-radius: 0px;
    }
}