.meal{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 5px solid #B2D2A4;
}

.meal h3{
    margin: 0 0 0.25rem 0;
    font-weight: bold;
    font-size: 25px;
}

.m-price{
    font-weight: bold;
    font-size: 1.25rem;
    margin-top: 0.25rem;
}

.meal img{
    min-width: 50vw;
}

@media (max-width:500px){
    .meal{
        display: flex;
        flex-direction: column;
    }
}